# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directorios de caché
.cache
.parcel-cache

# Build
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/
.idea/

# Otros archivos temporales
*.tgz
*.zip

# Archivos de seguridad
*.pem
*.key